h1{
    color: rgb(3, 107, 72);
    text-align: center;
    font-size: 30px;
    padding: 20px;
    ;
    
}

body{
    background-color: lightgoldenrodyellow;
    background-image:url() ;

}
img{
    width: 50mm;
    height: 50mm;
    margin-left:35% ;
}
.welcome{
    color: mediumblue;
    font-size: 25px;
    background-color: rgb(217, 250, 249)

}
#message{
    text-align: center;
}

.show{
    background-color: navajowhite;
    padding: 20px;
}
a:hover{
    color:darkred;
    background-color: gainsboro;
}
button{
    background-color:blue;
    color: white;
}